.full-width-table {
  width: 100%;
}

.checkbox {
  margin: 0 5px;
}

.ticket-filters {
  margin-top: 10px;
  margin-bottom: 10px;
}


.table-row:hover {
  background-color: lightgray;
  cursor: pointer;
}

/* mat-chip {
  padding: 2px 4px 2px 4px;
} */

td.mat-cell {
  padding-left: 20px;
  padding-right: 20px;
}
