.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
}


.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.nav-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.gap {
  margin-right: 10px;
}

mat-sidenav-container{
  padding-top: 64px;
  height: 100%;
  overflow: visible;
}

mat-sidenav-content {
  position: relative;
  height: 100%;
}

.app-content {
  position: absolute;
  overflow: auto;
  height: 100%;
  width: 100%;
}


