<app-navbar (toggleDrawer)="toggleDrawer()"></app-navbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    fixedInViewport
    fixedTopGap="64"
    #drawer
    class="sidenav"
    opened
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
  >
    <app-sidenav-content></app-sidenav-content>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
