@import '~@angular/material/theming';

// we need to adjust theming since we are not using "color=primary" on toolbar
@mixin light-toolbar-component-theme($theme) {
  $primary: map-get($theme, primary);

  .mat-toolbar {
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }
}
