<form #pwForm="ngForm" (ngSubmit)="updatePassword(pwForm)">
  <div fxLayout="column" fxLayoutGap="10px">
    <mat-form-field>
      <input matInput type="password" name="oldPW" [(ngModel)]="oldPW" required placeholder="Altes Passwort" />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" name="newPW" [(ngModel)]="newPW" required placeholder="Neues Passwort" />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" name="confirmNewPW" [(ngModel)]="newPWConfirm" required placeholder="Neues Passwort bestätigen" />
    </mat-form-field>
  </div>
  <div class="actions" fxLayoutAlign="center" fxLayoutGap="10px">
    <button [disabled]="pwForm.invalid" class="btn--save" color="primary" mat-raised-button>Aktualisieren</button>
  </div>
  <div class="errors" fxLayout="column" style="margin-top: 20px" fxLayoutAlign="center center">
    <mat-error *ngIf="error">
      {{error}}
    </mat-error>
  </div>
</form>
