<div gdColumns="1fr 1fr 1fr">
  <div class="aside-left"></div>
  <div
    class="ticket-board"
    [cdkDropListGroupDisabled]="dragDisabled"
    cdkDropListGroup
    gdGridAlign="stretch"
    fxLayout
    fxLayoutAlign="center start"
    fxLayoutGap="20px"
  >
    <app-ticket-board-column
      colName="Offen"
      status="open"
      [tickets]="openTickets"
      [dragDisabled]="dragDisabled"
      (loadingStatusChanged)="setDragDisabled($event)"
    ></app-ticket-board-column>

    <app-ticket-board-column
      colName="In Arbeit"
      status="active"
      [tickets]="inProgressTickets"
      [dragDisabled]="dragDisabled"
      (loadingStatusChanged)="setDragDisabled($event)"
    ></app-ticket-board-column>

    <app-ticket-board-column
      colName="Fertig"
      status="closed"
      [tickets]="closedTickets"
      [dragDisabled]="dragDisabled"
      (loadingStatusChanged)="setDragDisabled($event)"
    ></app-ticket-board-column>
  </div>
  <div class="aside-right"></div>
</div>
<router-outlet></router-outlet>
