<mat-form-field class="systems-chip-list">
  <mat-chip-list #chipList aria-label="Betroffene Systeme">
    <mat-chip
      *ngFor="let system of systems"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(system)"
    >
      {{ system | titlecase }}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Betroffene Systems"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-list>
  <mat-hint>Zum Hinzufügen Enter- oder Komma-Taste drücken</mat-hint>
</mat-form-field>
