
<h1 class="mat-h1">Angular Issue-Tracker</h1>

<mat-list>
  <mat-list-item><mat-icon>check</mat-icon>Erstelle einen neuen Account und logge dich ein</mat-list-item>
  <mat-list-item><mat-icon>check</mat-icon>Erstelle Projekte</mat-list-item>
  <mat-list-item><mat-icon>check</mat-icon>Weise Nutzer den Projekten zu</mat-list-item>
  <mat-list-item><mat-icon>check</mat-icon>Erstelle Tickets</mat-list-item>
  <mat-list-item><mat-icon>check</mat-icon>Bearbeite Tickets: Kommentare hinzufügen, Dateien hochladen, Status ändern, ... </mat-list-item>
  <mat-list-item><mat-icon>check</mat-icon>Schaue dir die Änderungshistorie eines Tickets an</mat-list-item>
  <mat-list-item><mat-icon>check</mat-icon>Ändere Status des Tickets per Drag and Drop mit dem Ticket-Board</mat-list-item>
  <mat-list-item><mat-icon>check</mat-icon>Lasse dir aktuelle Informationen durch das Dashboard anzeigen</mat-list-item>
  <mat-list-item><mat-icon>check</mat-icon>Durchsuche alle Tickets durch Auswählen verschiedener Filterkriterien</mat-list-item>
  <mat-list-item><mat-icon>check</mat-icon>Wähle aus zwischen hellem und dunklem Design</mat-list-item>
  <mat-list-item><mat-icon>check</mat-icon>Ändere Passwort, E-Mail und Nutzername</mat-list-item>
</mat-list>
