.add-files-btn {
  float: right;
}

:host {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.container {
  height: 100%;
}

.upload-area {
  padding: 20px;
  border: dashed 1.5px grey;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    transform: scale(1.02);
  }
}

