<mat-card fxLayout="row" fxLayoutGap="10px">
  <div fxFlexFill fxLayout="column" fxLayoutGap="10px">
    <div fxLayout fxLayoutGap="20px" fxLayoutAlign="space-between center">
      <div fxLayout fxLayoutGap="20px" fxLayoutAlign="center center">
        <div class="avatar-container">
          <img src="/assets/sample-avatar-300x300.jpg">
        </div>
        <div *ngIf="!isAuthenticatedUser(comment.user.id)">{{ comment.user?.username }} ({{comment.user?.email}})</div>
        <div *ngIf="isAuthenticatedUser(comment.user.id)">
          <strong fxLayout fxLayoutGap="10px" fxLayoutAlign="center center">
            <span>Eigener Kommentar</span>
            <mat-icon>check_circle</mat-icon>
          </strong>
        </div>
      </div>
      <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
        <div matTooltipPosition="left" matTooltip="Erstellt am" fxLayout fxLayoutGap="5px" fxLayoutAlign="center center">
          <mat-icon>date_range</mat-icon>
          <div>{{ comment.createdAt | date : 'short' }}</div>
        </div>
        <div *ngIf="wasUpdated()" matTooltipPosition="left" matTooltip="Aktualisiert am" fxLayout fxLayoutGap="5px" fxLayoutAlign="center center">
          <mat-icon>update</mat-icon>
          <div>{{ comment.updatedAt | date : 'short' }}</div>
        </div>
      </div>
    </div>

    <div #message [contenteditable]="isAuthenticatedUser(comment.user.id)" class="message-container mat-body">
      {{ comment.message }}
    </div>
    <div *ngIf="isAuthenticatedUser(comment.user.id)" fxLayout fxLayoutAlign="center center" fxLayoutGap="20px">
      <button mat-button color="primary" (click)="updateComment()">Änderungen speichern</button>
      <button mat-button color="warn" (click)="deleteComment()">Löschen</button>
    </div>
  </div>
</mat-card>
