/* You can add global styles to this file, and also import other style files */

.router-link-active {
  background-color: grey;
}


html, body {
  // IMPORTANT: Adding 1px is necessary to avoid scroll-locking when trying to scroll child div
  height: calc(100% + 1px);
  overflow: hidden;

}


