/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

@include mat-core();


@import './themes/custom-dark-theme.scss';
@import './themes/custom-light-theme.scss';

@import './app/shared/components/theme-slide-toggle/theme-slide-toggle.component.scss-theme.scss';
@import './app/nav/nav.component.scss-theme.scss';
@import './app/ticket-board/ticket-board.component.scss-theme.scss';
@import './app/download/download-list-item/download-list-item.component.scss-theme.scss';
@import "./app/ticket-details/ticket-details.component.scss-theme.scss";

@mixin custom-router-theme($theme) {
  $background: map-get($theme, background);
  
  .router-link-active {
    background-color: mat-color($background, selected-button);
  }
}

@mixin custom-components-theme($theme) {
  @include slide-toggle-component-theme($theme);
  @include ticket-details-component-theme($theme);
  @include custom-router-theme($theme);
}

.light-theme {
  @include angular-material-theme($custom-light-theme);
  @include custom-components-theme($custom-light-theme);
  @include light-ticket-board-component-theme($custom-light-theme);
  @include light-download-list-item-component-theme($custom-light-theme);
}

.dark-theme {
  @include angular-material-theme($custom-dark-theme);
  @include custom-components-theme($custom-dark-theme);
  @include dark-ticket-board-component-theme($custom-dark-theme);
  @include dark-download-list-item-component-theme($custom-dark-theme);
}


html, body {
  // IMPORTANT: Adding 1px is necessary to avoid scroll-locking when trying to scroll child div
  height: calc(100% + 1px);
  overflow: hidden;
  margin: 0;
  padding: 0;
}
