<form
  fxLayout
  class="card-wrapper"
  fxLayoutAlign="start center"
  fxLayoutGap="5px"
  [formGroup]="ticketPreviewForm"
>
  <mat-card fxLayout="column">
    <mat-form-field>
      <textarea formControlName="title" matInput cdkTextareaAutosize></textarea>
    </mat-form-field>
    <div fxLayout fxLayoutAlign="center center" fxLayoutGap="20px">
      <div style="cursor: help" matTooltip="Ersteller">
        {{ ticket.owner.username }}
      </div>
      <app-priority-icon [priority]="ticket.priority"></app-priority-icon>
      <div
        *ngIf="!!this.ticket.subTasks.length"
        fxLayout
        fxLayoutAlign="center center"
        fxLayoutGap="2px"
        style="cursor: help"
        matTooltip="Erledigte Aufgaben"
      >
        <span>{{ numSubTasks }}/{{ this.ticket.subTasks.length }}</span>
        <mat-icon class="tasks-completed-icon">check_box</mat-icon
        >
      </div>
    </div>
  </mat-card>
  <button
    class="ticket-dialog-open-button"
    fxFlexAlign="stretch"
    mat-raised-button
    (click)="openTicketForm()"
  >
    <mat-icon>pageview</mat-icon>
  </button>
</form>
