<div
  gdColumns="1fr"
  gdColumns.gt-sm="1fr 1fr"
  gdColumns.gt-md="1fr 1fr 1fr 1fr"
  gdColumns.gt-lg="1fr 2fr 2fr 1fr"
  gdAreas="heading | desc | typeStatus | assignedUsers | files"
  gdAreas.gt-sm="heading heading | desc desc | typeStatus typeStatus | assignedUsers files"
  gdAreas.gt-md=". heading heading . | . desc desc . | . typeStatus typeStatus . | . assignedUsers files ."
  gdAreas.gt-lg=". heading heading . | . desc desc . | . typeStatus typeStatus . | . assignedUsers files ."
  gdAlignRows="center center"
  gdGap="30px 30px"
  class="container"
  *ngIf="project$ | async as project"
>
  <div gdArea="heading" fxLayoutAlign="center" fxLayout="column">
    <h1 gdArea="title" class="mat-h1 centered-text">{{ project.name }}</h1>
    <div gdArea="actions" class="actions" fxLayoutAlign="center" fxLayoutGap="15px">
      <button mat-mini-fab color="primary" (click)="openUserFormDialog()">
        <mat-icon matTooltip="Nutzer verwalten">group_add</mat-icon>
      </button>
      <button (click)="openProjectFormDialog()" mat-mini-fab color="primary">
        <mat-icon matTooltip="Projekt bearbeiten">edit</mat-icon>
      </button>
      <button (click)="deleteProject()" mat-mini-fab color="warn">
        <mat-icon matTooltip="Projekt löschen!">delete</mat-icon>
      </button>
    </div>
  </div>
  <div gdArea="typeStatus" fxLayout fxLayoutGap="20px">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h2 class="mat-h2">Ersteller</h2>
      <mat-card>{{ project.projectLeader?.username }}</mat-card>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <h2 class="mat-h2">Typ</h2>
      <mat-card>{{ project.type | projectType }}</mat-card>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <h2 class="mat-h2">Status</h2>
      <mat-card>
        {{ project.status | projectStatus }}
      </mat-card>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" gdArea="desc">
    <h2 class="mat-h2">Beschreibung</h2>
    <mat-card>
      {{ project.description }}
    </mat-card>
  </div>
  <div gdArea="assignedUsers">
    <h2 class="mat-h2 centered-text">Zugewiesene Nutzer</h2>
    <mat-card>
      <mat-list>
        <mat-list-item *ngFor="let user of project.assignedUsers">
          <div fxLayout fxLayoutAlign="center center" fxLayoutGap="10px">
            <mat-icon>person</mat-icon>
            <div>
              {{ user.username }} ({{user.email}})
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>
  <div gdArea="files" fxLayout="column" fxLayoutAlign="start center">
    <h2 class="mat-h2">Herunterladbare Dateien</h2>
      <mat-card *ngIf="project.filenames.length > 0; else filesPlaceholder">
        <app-download [readOnlyFilenames]="project.filenames"></app-download>
      </mat-card>
    <ng-template #filesPlaceholder>
      <span class="mat-body">
        Keine Dateien hinzugefügt
      </span>
    </ng-template>
  </div>
</div>

<router-outlet></router-outlet>
