<div
  *ngIf="projects$ | async as projects"
  gdColumns="1fr"
  gdAreas="main"
  gdColumns.gt-xs="1fr 3fr 1fr"
  gdAreas.gt-xs="action-area main right-area | . main ."
  gdColumns.gt-md="1fr 2fr 1fr"
  gdGap.gt-xs="30px 30px"
>
  <div gdArea="action-area" gdGridAlign="center center"></div>
  <div
    gdArea="main"
    gdColumns="1fr"
    gdColumns.gt-xs="1fr 1fr"
    gdColumns.gt-sm="1fr 1fr 1fr 1fr"
    gdColumns.gt-md="1fr 1fr 1fr 1fr 1fr 1fr"
    gdGap="15px 15px"
  >
    <app-project-card
      (cardClick)="openProjectDialog()"
      matTooltip="Neues Projekt hinzufügen"
    >
      <div fxLayout fxLayoutAlign="center center">
        <button mat-fab color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </app-project-card>
    <app-project-card
      *ngFor="let project of projects"
      [project]="project"
      (cardClick)="openProjectDetails(project.id)"
    >
      <h2 style="text-align: center;" class="mat-h2">
        {{ project.name }}
        <span matTooltip="Anzahl der Tickets">({{ project.numTickets }})</span>
      </h2>
      <mat-chip-list>
        <div fxFlexFill fxLayoutAlign="space-around">
          <mat-chip>{{ project.type | projectType }}</mat-chip>
          <mat-chip>{{ project.status | projectStatus }}</mat-chip>
        </div>
      </mat-chip-list>
    </app-project-card>
  </div>

  <div gdArea="right-area"></div>
</div>

<router-outlet></router-outlet>
